/*pc スマホ共通*/
body{
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,sans-serif;
}

p {
  font-size: 16px
}

/*================
 PC用のスタイル
=================*/

@media screen and (min-width:768px) {
  /*横幅*/
  body{
    max-width: 1080px;
    min-width: 900px;
    margin: 0 auto 0 auto
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  #nav-sp,#menu-sp{
    display: none;
  }

  .header-class{
    font-size: 25px;
    font-weight: bold;
  }

  header > a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    padding-top: 15px;
  }

  #nav-pc{
    padding-top: 15px;
  }

  #nav-pc a{
    text-decoration: none;
    margin-right: 20px;
  }

  #nav-pc  a:link{
    color: black;
  }

  #nav-pc a:visited{
    color: black;
  }

  #nav-pc a:hover{
    color: black;
    text-decoration: underline;
  }

  #nav-pc a:active{
    color: black;
  }

  /*メインセクション*/

  #main-section {
    width: 100%;
    margin: 15px;
    position: relative;
    animation-name:fadeInAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadeInAnime {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

 
  
  #main-section>h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px; /*下線の上下位置調整*/
  display: inline-block;
  width: 600px; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
  }

  /*メインワークス*/

  #main-works {
    width: 1080px;
    height: 900px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    animation-name: fadeleftAnime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadeleftAnime {
    from {
      opacity: o;
      transform: translateX(-100px);
    }
    to{
      opacity: 1;
      transform: translate(0);
    }
  }

  #main-works>h2{
    text-align: center;
  }

  #main-works h2 span{
    background: linear-gradient(transparent 40% , yellow 40%);
  }

  .works-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .works-list>div{
    margin: 10px 100px 10px 100px;
  }

.works-img>img{
  width: 300px;
  height: 300px;
}

.works-list a  {
  text-align: center;
  text-decoration: none;
  color: black; /* 色を追加 */
}


#main-works>h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px; /*下線の上下位置調整*/
  display: inline-block;
  width: 600px; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
  }

  
  #main-skill{
    width: 1080px;
    height: 400px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    animation-name: faderightAnime;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes faderightAnime {
    from{
      opacity: 0;
      transform: translateX(100px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
    
  }

  #main-skill h2{
    text-align: center;
  }

  #main-skill h2 span{
    background: linear-gradient(transparent 40% , yellow 40%);
  }

  .main-skill-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

  }

  .main-skill-container .skills{
    display: flex;
    margin-left:145px ;
  }

  .skills{
    margin-bottom: 25px;
  }


  .skills img{
    width: 125px;
    height: 125px;
    margin-right: 20px;

  }

  .skills-explain{
    width: 175px;
  }

  #main-skill>h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px; /*下線の上下位置調整*/
    display: inline-block;
    width: 600px; /*下線の幅*/
    height: 2px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #666666; /*下線の色*/
    }
  

  /*メインアバウト*/
  #main-about{
    width: 1080px;
    display: flex;
    height: 350px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    animation-name: fadeleftAnime;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  #main-about h2{
    text-align: center;
  }
  #main-about h2 span{
    background: linear-gradient(transparent 40% , yellow 40%);
  }

  .main-skill-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .main-skill-container h2{
    text-align: center;
    
  }

  .about{
    display: flex;
    margin-left: 150px;
  }

  .main-about-container h2 {
    text-align: center;
    margin-left: 125px;
  }


  .about img{
    margin-left:20px ;
  }

  .about > .about-expalin{
    margin-left: 50px;
  }

  #main-about>h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px; /*下線の上下位置調整*/
    display: inline-block;
    width: 600px; /*下線の幅*/
    height: 2px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #666666; /*下線の色*/
    }
  
  
  /*コンタクト*/

  #main-contact{
    width: 1080px;
    display: flex;
    height: 200px;
    position: relative;
    margin-top: 15px ;
    margin-bottom: 15px;
    animation-name:fadeInAnime;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .contact-container{
    position: absolute;
    left: 330px;
  }

  .contact-container h2{
    text-align: center;
    margin-left: 50px;
  }

  #main-contact h2 span{
    background: linear-gradient(transparent 40% , yellow 40%);
  }

  .contact-list{
  display: flex ;
  justify-content: space-around;
  margin-left: 75px;
  }

  .contact-list img{
    width: 75px;
    height: 75px
  }

  #main-contact>h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px; /*下線の上下位置調整*/
    display: inline-block;
    width: 600px; /*下線の幅*/
    height: 2px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #666666; /*下線の色*/
    }
}

/*================
 スマホ用のスタイル
=================*/

@media screen and (max-width:767px) {
  body{
    min-width: 375px;
    margin: 0;
  }
  /*ハンバーガーメニュー*/
  #nav-pc{
    display: none;
  }

  header > a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    padding-top: 15px;
  }

  #menu-sp{
    float: right;
    padding: 0;
    width: 30px;
    height: 30px;
  }

  #nav-sp{
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
  }

  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }

  #nav-sp a{
    display: block;
  }

  #nav-sp a:link{
    color: black;
  }

  #nav-sp a:visited{
    color: black;
  }

  #nav-sp a:hover{
    color: black;
    text-decoration: underline;
  }

  #nav-sp a:active{
    color: black;
  }

  #nav-sp .menu{
    text-decoration: none;
    margin:20px 0 20px 50px;
    height: 25px;
  }

  /*メインビジュアル*/

  #main-section {
    align-items: center;
    text-align: center;

  }

  #main-section img{
   width: 75%;
   overflow: hidden;
   animation-name:fadeInAnime;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   opacity: 0;
  }

  @keyframes fadeInAnime {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /*メインワークス*/

 #main-works{
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  animation-name: fadeleftAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
 }
 
 @keyframes fadeleftAnime {
  from {
    opacity: o;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}

 #main-works>h2{
  text-align: center;
 }

 .works-list img{
  width: 50%;
  height: 50%;
}

 #main-works h2 span{
  background: linear-gradient(transparent 40% , yellow 40%);
 }

 .works-list a  {
  text-align: center;
  text-decoration: none;
  color: black; /* 色を追加 */
}


 #main-works>h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px; /*下線の上下位置調整*/
  display: inline-block;
  width: 100%; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
  }

    /*メインスキル*/

 #main-skill{
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  animation-name: faderightAnime;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
 }

 @keyframes faderightAnime {
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
  
}

#main-skill h2{
  text-align: center;
}

#main-skill h2 span{
  background: linear-gradient(transparent 40% , yellow 40%);
 }

.main-skill-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills img{
  width: 100px;
  height: 100px;
}

.skills-explain p {
  font-size: 15px

}

#main-skill>h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px; /*下線の上下位置調整*/
  display: inline-block;
  width: 100%; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
  }

 #main-about{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  height: 100%;
 }

 .main-about-container h2 {
  text-align: center;
 }

 .about {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  animation-name: fadeleftAnime;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
 }

 #main-about h2 span{
  background: linear-gradient(transparent 40% , yellow 40%);
 }

 .about a img {
  width: 80px;
  height: 80px;
  margin-left:20px;
  margin-right: 20px;
 }

 .about p {
  font-size: 10px
 }

 #main-contact {
  align-items: center;
  text-align: center;
  height: 100%;
 }

 #main-contact h2 span{
  background: linear-gradient(transparent 40% , yellow 40%);
 }

 .contact-list{
  display: flex;
  justify-content: space-around;
 }

 .contact-container p{
  font-size: 10px;
 }

 .contact-list img {
  width: 50px;
  height: 50px;
 }


}